/*
Syntax error: Invalid CSS after "main.scss": expected "{", was ""
        on line 1 of sass/main.scss

1: main.scss

Backtrace:
sass/main.scss:1
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/scss/parser.rb:1149:in `expected'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/scss/parser.rb:1085:in `expected'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/scss/parser.rb:1080:in `tok!'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/scss/parser.rb:534:in `block'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/scss/parser.rb:529:in `ruleset'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/scss/parser.rb:553:in `block_child'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/scss/parser.rb:543:in `block_contents'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/scss/parser.rb:82:in `stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/scss/parser.rb:27:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/engine.rb:342:in `_to_tree'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/engine.rb:315:in `_render'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/engine.rb:262:in `render'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/plugin/compiler.rb:362:in `update_stylesheet'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/plugin/compiler.rb:235:in `watch'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/exec.rb:463:in `watch_or_update'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/exec.rb:326:in `process_result'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/usr/local/rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.19/bin/sass:13
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"main.scss\": expected \"{\", was \"\"\A         on line 1 of sass/main.scss\A \A 1: main.scss"; }
