// Site Colors
$color-black-solid: #000000;
$color-black: #222222;
$color-white: #ffffff;
$color-tan-light: #f0e0c8;
$color-tan: #b49476;
$color-brown: #8a5f36;
$color-brown-dark: #614526;
$color-red: #c33;

// Fonts
$base-font-size: 16px;
$base-font-family: 'Open Sans', sans-serif;

//Used for generating paddings / margins
$base-unit: 1em;
$base-unit-half: $base-unit * 0.5;
$base-unit-quarter: $base-unit * 0.25;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-large: 720px;