.train-table {

  width: 100%;

  border: 1px solid $color-brown-dark;
  border-collapse: collapse;

  td, th {
    padding: $base-unit-half;
    width: 25%;
  }

  th {
    cursor: pointer;
    background: $color-brown;
    text-align: left;
    border: 1px dotted $color-black;

    i {
      color: $color-tan;
    }
  }

  td {
    border: 1px solid $color-brown-dark;
  }

  tr {
    &:nth-child(even) {background: $color-tan}
    &:nth-child(odd) {background: $color-tan-light}
  }

  


}